In [2]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split;
from sklearn.linear_model import LinearRegression;
from sklearn.metrics import mean_squared_error;
from ydata_profiling import ProfileReport
import plotly.graph_objects as go;
from sklearn.ensemble import RandomForestClassifier

link  = 'https://raw.githubusercontent.com/bernardogomesrib/IA-projeto/main/archive/Student_Dropout_rate.csv'; #pode usar normalmente
link2 = 'https://raw.githubusercontent.com/bernardogomesrib/IA-projeto/main/archive/data.csv'; #pode usar normalmente
link3 = 'https://raw.githubusercontent.com/bernardogomesrib/IA-projeto/main/archive/student_data.csv'; #trocar o nome da coluna Output por Target
link4 = 'https://raw.githubusercontent.com/bernardogomesrib/IA-projeto/main/archive/dataset1.csv' #não tem separador
dicionario ={"Graduate":0,"Dropout":1,"Enrolled":2}#dicionario para transformar as strings em números
dataset1 = pd.read_csv(link,sep=";");
dataset2 = pd.read_csv(link2,sep=";");
dataset3 = pd.read_csv(link3,sep=";");
dataset4 = pd.read_csv(link4);

dataset3.rename(columns={'Output': 'Target'}, inplace=True)

# Set index and column labels to match for dataset1 and dataset2
dataset1 = dataset1.reindex(index=dataset2.index, columns=dataset2.columns)
dataset3 = dataset3.reindex(index=dataset2.index, columns=dataset2.columns)
dataset4 = dataset4.reindex(index=dataset2.index, columns=dataset2.columns)


# Comparar conteúdo (valores das colunas)
def comparar_conteudo(*dataframes):
    iguais = all(dataset1.equals(dataset) for dataset in dataframes[1:])
    return iguais

conteudo_igual = comparar_conteudo(dataset1, dataset2, dataset3, dataset4)
print(f"O conteúdo das bases de dados é igual? {conteudo_igual}")

# Identificar diferenças específicas
def identificar_diferencas(dataset1, dataset2):
    diferencas = dataset1.compare(dataset2)
    return diferencas

diferencas_12 = identificar_diferencas(dataset1, dataset2)


print("tamanho da database1= ",len(dataset1))
print("tamanho da database2= ",len(dataset2))
print("tamanho da database3= ",len(dataset3))
print("tamanho da database4= ",len(dataset4))
# Identificar diferenças específicas
def identificar_diferencas(dataset1, dataset2):
    diferencas = dataset1.compare(dataset2)
    return diferencas

diferencas_12 = identificar_diferencas(dataset1, dataset2)
diferencas_13 = identificar_diferencas(dataset1, dataset3)
diferencas_14 = identificar_diferencas(dataset1, dataset4)
diferencas_23 = identificar_diferencas(dataset2, dataset3)
diferencas_24 = identificar_diferencas(dataset2, dataset4)
diferencas_34 = identificar_diferencas(dataset3, dataset4)

C:\Users\berna\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

O conteúdo das bases de dados é igual? False
tamanho da database1=  4424
tamanho da database2=  4424
tamanho da database3=  4424
tamanho da database4=  4424

In [3]:


print("Diferenças entre database1 e database2:")
print(diferencas_12)

Diferenças entre database1 e database2:
Empty DataFrame
Columns: []
Index: []

In [4]:
print("Diferenças entre database3 e database4:")
print(diferencas_34)

Diferenças entre database3 e database4:
Empty DataFrame
Columns: []
Index: []

In [5]:
print("Diferenças entre database1 e database3:")
print(diferencas_13)

Diferenças entre database1 e database3:
     Application mode       Course       Daytime/evening attendance\t        \
                 self other   self other                         self other
0                17.0   8.0    171     2                            1   NaN
1                15.0   6.0   9254    11                            1   NaN
2                 NaN   NaN   9070     5                            1   NaN
3                17.0   8.0   9773    15                            1   NaN
4                39.0  12.0   8014     3                            0   NaN
...               ...   ...    ...   ...                          ...   ...
4419              NaN   NaN   9773    15                            1   NaN
4420              NaN   NaN   9773    15                            1   NaN
4421              NaN   NaN   9500    12                            1   NaN
4422              NaN   NaN   9147     9                            1   NaN
4423             10.0   5.0   9773    15                            1   NaN

     Previous qualification       Previous qualification (grade)        ...  \
                       self other                           self other  ...
0                       NaN   NaN                          122.0   NaN  ...
1                       NaN   NaN                          160.0   NaN  ...
2                       NaN   NaN                          122.0   NaN  ...
3                       NaN   NaN                          122.0   NaN  ...
4                       NaN   NaN                          100.0   NaN  ...
...                     ...   ...                            ...   ...  ...
4419                    NaN   NaN                          125.0   NaN  ...
4420                    NaN   NaN                          120.0   NaN  ...
4421                    NaN   NaN                          154.0   NaN  ...
4422                    NaN   NaN                          180.0   NaN  ...
4423                    NaN   NaN                          152.0   NaN  ...

     Mother's qualification       Father's qualification        \
                       self other                   self other
0                      19.0  13.0                   12.0  10.0
1                       NaN   NaN                    NaN   NaN
2                      37.0  22.0                   37.0  27.0
3                      38.0  23.0                   37.0  27.0
4                      37.0  22.0                   38.0  28.0
...                     ...   ...                    ...   ...
4419                    NaN   NaN                    NaN   NaN
4420                    NaN   NaN                    NaN   NaN
4421                   37.0  22.0                   37.0  27.0
4422                   37.0  22.0                   37.0  27.0
4423                   38.0  23.0                   37.0  27.0

     Mother's occupation       Father's occupation       Admission grade
                    self other                self other            self other
0                      5     6                   9    10           127.3   NaN
1                      3     4                   3     4           142.5   NaN
2                      9    10                   9    10           124.8   NaN
3                      5     6                   3     4           119.6   NaN
4                      9    10                   9    10           141.5   NaN
...                  ...   ...                 ...   ...             ...   ...
4419                   5     6                   4     5           122.2   NaN
4420                   9    10                   9    10           119.0   NaN
4421                   9    10                   9    10           149.5   NaN
4422                   7     8                   4     5           153.8   NaN
4423                   5     6                   9    10           152.0   NaN

[4424 rows x 22 columns]

In [6]:
print("Diferenças entre database1 e database4:")
print(diferencas_14)

Diferenças entre database1 e database4:
     Application mode       Course       Daytime/evening attendance\t        \
                 self other   self other                         self other
0                17.0   8.0    171     2                            1   NaN
1                15.0   6.0   9254    11                            1   NaN
2                 NaN   NaN   9070     5                            1   NaN
3                17.0   8.0   9773    15                            1   NaN
4                39.0  12.0   8014     3                            0   NaN
...               ...   ...    ...   ...                          ...   ...
4419              NaN   NaN   9773    15                            1   NaN
4420              NaN   NaN   9773    15                            1   NaN
4421              NaN   NaN   9500    12                            1   NaN
4422              NaN   NaN   9147     9                            1   NaN
4423             10.0   5.0   9773    15                            1   NaN

     Previous qualification       Previous qualification (grade)        ...  \
                       self other                           self other  ...
0                       NaN   NaN                          122.0   NaN  ...
1                       NaN   NaN                          160.0   NaN  ...
2                       NaN   NaN                          122.0   NaN  ...
3                       NaN   NaN                          122.0   NaN  ...
4                       NaN   NaN                          100.0   NaN  ...
...                     ...   ...                            ...   ...  ...
4419                    NaN   NaN                          125.0   NaN  ...
4420                    NaN   NaN                          120.0   NaN  ...
4421                    NaN   NaN                          154.0   NaN  ...
4422                    NaN   NaN                          180.0   NaN  ...
4423                    NaN   NaN                          152.0   NaN  ...

     Mother's qualification       Father's qualification        \
                       self other                   self other
0                      19.0  13.0                   12.0  10.0
1                       NaN   NaN                    NaN   NaN
2                      37.0  22.0                   37.0  27.0
3                      38.0  23.0                   37.0  27.0
4                      37.0  22.0                   38.0  28.0
...                     ...   ...                    ...   ...
4419                    NaN   NaN                    NaN   NaN
4420                    NaN   NaN                    NaN   NaN
4421                   37.0  22.0                   37.0  27.0
4422                   37.0  22.0                   37.0  27.0
4423                   38.0  23.0                   37.0  27.0

     Mother's occupation       Father's occupation       Admission grade
                    self other                self other            self other
0                      5     6                   9    10           127.3   NaN
1                      3     4                   3     4           142.5   NaN
2                      9    10                   9    10           124.8   NaN
3                      5     6                   3     4           119.6   NaN
4                      9    10                   9    10           141.5   NaN
...                  ...   ...                 ...   ...             ...   ...
4419                   5     6                   4     5           122.2   NaN
4420                   9    10                   9    10           119.0   NaN
4421                   9    10                   9    10           149.5   NaN
4422                   7     8                   4     5           153.8   NaN
4423                   5     6                   9    10           152.0   NaN

[4424 rows x 22 columns]

In [7]:
print("Diferenças entre database2 e database3:")
print(diferencas_23)

Diferenças entre database2 e database3:
     Application mode       Course       Daytime/evening attendance\t        \
                 self other   self other                         self other
0                17.0   8.0    171     2                            1   NaN
1                15.0   6.0   9254    11                            1   NaN
2                 NaN   NaN   9070     5                            1   NaN
3                17.0   8.0   9773    15                            1   NaN
4                39.0  12.0   8014     3                            0   NaN
...               ...   ...    ...   ...                          ...   ...
4419              NaN   NaN   9773    15                            1   NaN
4420              NaN   NaN   9773    15                            1   NaN
4421              NaN   NaN   9500    12                            1   NaN
4422              NaN   NaN   9147     9                            1   NaN
4423             10.0   5.0   9773    15                            1   NaN

     Previous qualification       Previous qualification (grade)        ...  \
                       self other                           self other  ...
0                       NaN   NaN                          122.0   NaN  ...
1                       NaN   NaN                          160.0   NaN  ...
2                       NaN   NaN                          122.0   NaN  ...
3                       NaN   NaN                          122.0   NaN  ...
4                       NaN   NaN                          100.0   NaN  ...
...                     ...   ...                            ...   ...  ...
4419                    NaN   NaN                          125.0   NaN  ...
4420                    NaN   NaN                          120.0   NaN  ...
4421                    NaN   NaN                          154.0   NaN  ...
4422                    NaN   NaN                          180.0   NaN  ...
4423                    NaN   NaN                          152.0   NaN  ...

     Mother's qualification       Father's qualification        \
                       self other                   self other
0                      19.0  13.0                   12.0  10.0
1                       NaN   NaN                    NaN   NaN
2                      37.0  22.0                   37.0  27.0
3                      38.0  23.0                   37.0  27.0
4                      37.0  22.0                   38.0  28.0
...                     ...   ...                    ...   ...
4419                    NaN   NaN                    NaN   NaN
4420                    NaN   NaN                    NaN   NaN
4421                   37.0  22.0                   37.0  27.0
4422                   37.0  22.0                   37.0  27.0
4423                   38.0  23.0                   37.0  27.0

     Mother's occupation       Father's occupation       Admission grade
                    self other                self other            self other
0                      5     6                   9    10           127.3   NaN
1                      3     4                   3     4           142.5   NaN
2                      9    10                   9    10           124.8   NaN
3                      5     6                   3     4           119.6   NaN
4                      9    10                   9    10           141.5   NaN
...                  ...   ...                 ...   ...             ...   ...
4419                   5     6                   4     5           122.2   NaN
4420                   9    10                   9    10           119.0   NaN
4421                   9    10                   9    10           149.5   NaN
4422                   7     8                   4     5           153.8   NaN
4423                   5     6                   9    10           152.0   NaN

[4424 rows x 22 columns]

In [8]:
print("Diferenças entre database2 e database4:")
print(diferencas_24)

Diferenças entre database2 e database4:
     Application mode       Course       Daytime/evening attendance\t        \
                 self other   self other                         self other
0                17.0   8.0    171     2                            1   NaN
1                15.0   6.0   9254    11                            1   NaN
2                 NaN   NaN   9070     5                            1   NaN
3                17.0   8.0   9773    15                            1   NaN
4                39.0  12.0   8014     3                            0   NaN
...               ...   ...    ...   ...                          ...   ...
4419              NaN   NaN   9773    15                            1   NaN
4420              NaN   NaN   9773    15                            1   NaN
4421              NaN   NaN   9500    12                            1   NaN
4422              NaN   NaN   9147     9                            1   NaN
4423             10.0   5.0   9773    15                            1   NaN

     Previous qualification       Previous qualification (grade)        ...  \
                       self other                           self other  ...
0                       NaN   NaN                          122.0   NaN  ...
1                       NaN   NaN                          160.0   NaN  ...
2                       NaN   NaN                          122.0   NaN  ...
3                       NaN   NaN                          122.0   NaN  ...
4                       NaN   NaN                          100.0   NaN  ...
...                     ...   ...                            ...   ...  ...
4419                    NaN   NaN                          125.0   NaN  ...
4420                    NaN   NaN                          120.0   NaN  ...
4421                    NaN   NaN                          154.0   NaN  ...
4422                    NaN   NaN                          180.0   NaN  ...
4423                    NaN   NaN                          152.0   NaN  ...

     Mother's qualification       Father's qualification        \
                       self other                   self other
0                      19.0  13.0                   12.0  10.0
1                       NaN   NaN                    NaN   NaN
2                      37.0  22.0                   37.0  27.0
3                      38.0  23.0                   37.0  27.0
4                      37.0  22.0                   38.0  28.0
...                     ...   ...                    ...   ...
4419                    NaN   NaN                    NaN   NaN
4420                    NaN   NaN                    NaN   NaN
4421                   37.0  22.0                   37.0  27.0
4422                   37.0  22.0                   37.0  27.0
4423                   38.0  23.0                   37.0  27.0

     Mother's occupation       Father's occupation       Admission grade
                    self other                self other            self other
0                      5     6                   9    10           127.3   NaN
1                      3     4                   3     4           142.5   NaN
2                      9    10                   9    10           124.8   NaN
3                      5     6                   3     4           119.6   NaN
4                      9    10                   9    10           141.5   NaN
...                  ...   ...                 ...   ...             ...   ...
4419                   5     6                   4     5           122.2   NaN
4420                   9    10                   9    10           119.0   NaN
4421                   9    10                   9    10           149.5   NaN
4422                   7     8                   4     5           153.8   NaN
4423                   5     6                   9    10           152.0   NaN

[4424 rows x 22 columns]

In [9]:
conteudo_igual = comparar_conteudo(dataset1, dataset3)
print(f"O conteúdo das bases de dados é igual? {conteudo_igual}")

O conteúdo das bases de dados é igual? False